@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Hanoienne';
  src: url('/font/L\'Hanoienne-Demo.ttf') format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Whisper&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  font-weight: 300;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.cre:hover{
  cursor: pointer;
  font-weight: 900;
  background: linear-gradient(271deg, #EFEADD 15%, #D23E40 50%, #E89952 85%, #EFEADD 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

