@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif&family=Playfair+Display:ital@1&family=Whisper&display=swap');
@font-face {
  font-family: 'Hanoienne';
  src: url('../public/font/L\'Hanoienne-Demo.ttf') format('truetype');
}
.root{
}
.wrapper{
  overflow-x: hidden !important;
}
.container {
  padding: 0 7rem;
  z-index: 1;
}
.section{
  padding-top: 400px;
}
.background{
  background-color:#222;
  display: absolute;
  position: fixed;
  width: 100%;
  min-width: 1080px;
  height: 100vh;
  z-index: -1;
  opacity: 1;
}
.background img{
  background-color:#222;
  top: -70%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  opacity: 1;
}
.main {
  padding: 9rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.typo1 {
  font-family: 'Whisper';
  font-size: 2.5rem;
  line-height: .75rem;
}
.typo2 {
  font-family: 'Hanoienne';
  font-size: 6rem;
  line-height: 7rem;
  vertical-align: bottom;
  height: inherit;
  bottom: 0;
  position: absolute;
  /* text-shadow:1px 1px 5px #ffffff; */
}
.typo2 span{
  font-family: 'Whisper';
  font-size: 4rem;

}
#typo{
  height: 70vh;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.sheading{
  font-family: 'Hanoienne';
  font-size: xx-large;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  padding: 0.5rem 0;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container{
    padding: 0 1.5rem;
  }
  .typo2{
    font-size: 2rem;
    line-height: 3rem;
  }
  .typo2 span{
    font-size: 2rem;
  }
  .description{
    margin: 1.5rem 0;
    font-size: 0.9rem;
  }
  .sheading{
    font-size: large;
  }
  .background img{
    top: -30%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
